html{
	scroll-behavior: smooth;	
}

table{
    border-collapse: collapse;
}

#listing tr:nth-of-type(2n){
    background-color: rgb(211, 211, 211);
}

#id, #modifier, #annuler{
    display: none;
}

.btn{
    margin: 5px 5px 5px;
}

.formulaire{
    border: 1px solid #0d6efd;
    padding: 5px 5px 5px;
}

#quantite{
    width: 100px;
}

#emplacement{
    width: 150px;
}

#designation{
    width: 500px;
    max-width: 80vw;
}

thead{
    background-color: rgb(211, 211, 211);
    position: sticky;
    top: 0;
}

#fleche{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: #0d6efd;
    border-radius: 5px 5px 5px 5px;
}

.overlay_back{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay_front{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 5%;
    right: 5%;
    z-index: 101;

}