table{
    border-collapse: collapse;
}

#listing tr:nth-of-type(2n){
    background-color: rgb(211, 211, 211);
}

#id, #modifier, #annuler{
    display: none;
}

.btn{
    margin: 5px 5px 5px;
}

.formulaire{
    border: 1px solid #0d6efd;
    padding: 5px 5px 5px;
}